*
!.gitignore
!.gitconfig

# Shell and env
!.bash_profile
!.bashrc
!.zprofile
!.zshrc

# Xorg
!.xinitrc
!.Xresources

!.tmux.conf
!.vimrc
!.xbindkeysrc

!.config/starship.toml

!.config/alacritty/
!.config/autorandr/
!.config/autostart/
!.config/awesome/
!.config/htop/
!.config/newsboat/
!.config/nvim/
!.config/qalculate/
!.config/rofi-pass/
!.config/rofi/
!.config/terminal-colors.d/

!.local/share/applications/

