/*

!.gitignore
!.gitconfig

# Shell and env
!.bash_profile
!.bashrc
!.zprofile
!.zshrc

# Xorg
!.xinitrc
!.Xresources

!.vimrc
!.xbindkeysrc

.config/*
!.config/
!.config/starship.toml
!.config/awesome/
!.config/alacritty/
!.config/autostart/
!.config/newsboat/
!.config/rofi-pass/
!.config/rofi/
!.config/terminal-colors.d/
!.config/tmux/

!.config/nvim/
.config/nvim/plugin/packer_compiled.lua

.local/*
!.local/
!.local/share/applications/

