[Desktop Entry]
Type=Application
Version=1.0
Name=Messenger
Icon=chromium
Comment=Chat with friends
Exec=/usr/bin/env chromium --app=https://messenger.com
Terminal=false
