[Desktop Entry]
Type=Application
Version=1.0
Name=Spotify
Icon=chromium
Comment=Spotify music streaming service
Exec=/usr/bin/env firefox --app=https://open.spotify.com/
Terminal=false
