[Unit]
Description=%i service with docker compose
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=%h/.dots/srv/%i
ExecStartPre=-/usr/bin/env docker compose pull
ExecStart=/usr/bin/env docker compose up --remove-orphans
ExecStop=/usr/bin/env docker compose down
ExecReload=/usr/bin/env docker compose pull
ExecReload=/usr/bin/env docker compose up --remove-orphans
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=default.target
