[Unit]
Description=%i generic service
After=network.target

[Service]
WorkingDirectory=%h/.dots/srv/%i
ExecStart=%h/.dots/bin/dot/menv %h/.dots/srv/%i/run
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=default.target
