[Unit]
Description=%i generic service
After=network.target

[Service]
WorkingDirectory=%h/.local/share/services/generic/%i
ExecStart=%h/.local/share/services/generic/run
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=default.target
