[Unit]
Description=%i local service
After=network.target

[Service]
WorkingDirectory=%h/.local/share/services/%i
ExecStart=./run
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=default.target
