[Desktop Entry]
Type=Application
Version=1.0
Name=Bluetooth Devices
Comment=Manager bluetooth devices and connections
Exec=/bin/sh -c "$HOME/Repos/rofi-bluetooth/rofi-bluetooth"
Terminal=false
