// vim: ft=scss

@theme "theme.rasi"

configuration {
 modi: "window,drun,ssh,combi,emoji";
 font: "Anonymice Pro Nerd Font Mono 19";
 combi-modi: "window,drun,ssh";
}

window {
  width: 900px;
}

element {
  orientation: horizontal;
  children: [ element-icon, element-text ];
  spacing: 5px;
  width: 500px;
}

element-icon {
  size: 1em;
}
