name: "Flake check"
on:
  pull_request:
  push:
    paths:
      - '**.nix'
      - 'flake.lock'
jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v27
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - run: nix flake check
